<!-- templates/index.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>Bem-vindo à Página Inicial</h1>
    {% if user.is_authenticated %}
        <p>Olá, {{ user.username }}!</p>
        <h2>Publicações dos Usuários Seguidos</h2>
        {% if comments %}
            {% for comment in comments %}
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title">{{ comment.user.username }}</h5>
                        <p class="card-text">{{ comment.content }}</p>
                        <p class="text-muted">{{ comment.created_at }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Nenhuma publicação disponível.</p>
        {% endif %}
    {% else %}
        <p>Você não está logado.</p>
    {% endif %}
{% endblock %}
