<!-- templates/profile.html -->
{% extends 'base.html' %}

{% block content %}
  <h2>Perfil de {{ profile.user.username }}</h2>
  <p><strong>Nome Completo:</strong> {{ profile.full_name }}</p>
  <p><strong>Data de Aniversário:</strong> {{ profile.birth_date }}</p>
  <p><strong>Localização:</strong> {{ profile.location }}</p>
  <p><strong>Bio:</strong> {{ profile.bio }}</p>
  <p><strong>Email:</strong> {{ profile.email }}</p>
  <p><strong>Número de Telefone:</strong> {{ profile.phone_number }}</p>
  <p><strong>Formação Acadêmica:</strong> {{ profile.education }}</p>
  {% if profile.user == request.user %}
    <a href="{% url 'profile_edit' %}">Editar Perfil</a>
  {% endif %}

  {% if profile.user == request.user %}
    <div class="card mt-4" style="margin-bottom:3%">
      <div class="card-body">
          <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-success m-1 btn-custom-2">Adicionar Comentário</button>
          </form>
      </div>
    </div>
  {% endif %}

  <!-- Display comments -->
  <div class="comments">
      {% if comments %}
          {% for comment in comments %}
              <div class="card mb-2">
                  <div class="card-body">
                      <h5 class="card-title">{{ comment.user.username }}</h5>
                      <p class="card-text">{{ comment.content }}</p>
                      <p class="text-muted">
                          {{ comment.created_at }}
                          {% if comment.edited_at %}
                              (editado)
                          {% endif %}
                      </p>
                      {% if comment.user == request.user %}
                          <button class="btn btn-primary btn-sm" onclick="editComment({{ comment.id }})">Editar</button>
                          <form method="post" action="{% url 'delete_comment' comment.id %}" style="display: inline;">
                              {% csrf_token %}
                              <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                          </form>

                          <!-- Formulário oculto para edição -->
                          <form id="edit-form-{{ comment.id }}" method="post" action="{% url 'edit_comment' comment.id %}" style="display: none;">
                              {% csrf_token %}
                              <div class="form-group">
                                  <textarea class="form-control" name="content" rows="3">{{ comment.content }}</textarea>
                              </div>
                              <button type="submit" class="btn btn-success btn-sm mt-2">Salvar</button>
                              <button type="button" class="btn btn-secondary btn-sm mt-2" onclick="cancelEdit({{ comment.id }})">Cancelar</button>
                          </form>
                      {% endif %}
                  </div>
              </div>
          {% endfor %}
      {% else %}
          <p>Nenhum comentário disponível.</p>
      {% endif %}
  </div>
{% endblock %}
